/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "fonts.scss";
@import "isotope.scss";

$black: #3D3D3D;
$white: #FEFEFE;
$grey: #B0AFB0;
$blue: #9BBBC6;
$coral: #F26C4E;
$sans-light: "neuzeit-light", Helvetica, Arial, sans-serif;
$title-light: 'Raleway', "neuzeit-light", sans-serif;
$sans-bold: "neuzeit-bold", Heltica, Arial, sans-serif;
$serif: "bodoni", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

@mixin font-size($sizeValue) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue / 10) + rem;
}

@mixin line-height($sizeValue) {
	line-height: $sizeValue + px;
	line-height: ($sizeValue / 10) + rem;
}

@mixin all-caps {
    letter-spacing: .2em;
    text-transform: uppercase;
}

/*-------------------------------------------------------------------------------------------------------
GLOBAL
-------------------------------------------------------------------------------------------------------*/

.hide {
	display: none;
}

.show {
	display: block;
}

html{
	background: $white;
	font-size: 65.2%;
	height: 100%;
}

body {
    width: 100%;
}

a:link,
a:visited {
	color: $coral;
	text-decoration: none;
}

a:active,
a:hover {
	color: $coral;
}

p {
	color: $black;
	font-family: $sans-light;
	letter-spacing: .1em;
	line-height: 1.5em;
	padding: 0 0 2em 0;
	@include font-size(12.5);
}

h2 {
	color: $black;
	display: inline-block;
	font-family: $title-light;
	letter-spacing: .1em;
	line-height: 1.5em;
	padding: 0 0 .5em 0;
	@include all-caps;
	@include font-size(21);
}

h3 {
	color: $white;
	font-family: $sans-bold;
	font-size: 200%;
	letter-spacing: .4em;
	text-decoration: none;
	@include all-caps;
}

h4 {
	color: $white;
	font-family: $sans-light;
	font-size: 70%;
	letter-spacing: .6em;
	text-decoration: none;
	@include all-caps;
	font-weight: lighter;
}

h5 {
	color: $coral;
	font-family: $sans-light;
	letter-spacing: .2em;
	line-height: 2em;
	padding-bottom: .3em;
	text-transform: uppercase;
	@include font-size(14);

		a:link,
		a:visited {
		color: $coral;
		}

		em {
		color: $blue;
		}
}

h6 {
	color: $grey;
	font-family: $sans-light;
	letter-spacing: .3em;
	line-height: 2em;
	@include all-caps;
	@include font-size(10);

		a:link,
		a:visited {
		color: $coral;
		}

		em {
		@include font-size(12);
		}
}
				
/*-------------------------------------------------------------------------------------------------------
HEADER
-------------------------------------------------------------------------------------------------------*/

header {
	background: $white;
	border-top: 5px solid $black;
	clear: both;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
	transition: all .2s;
	-moz-transition: all .2s; /* Firefox 4 */
	-webkit-transition: all .2s; /* Safari and Chrome */
	-o-transition: all .2s; /* Opera */
	@include font-size(11.2);
		
		h1 {
		color: #231F20;
		float: left;
		font-family: $sans-light;
		letter-spacing: .6em;
		padding: 0 0 0 2em;
		vertical-align: middle;
		@include all-caps;
			
			#logo {
			height: auto;
			margin-right: 1em;
			padding-top: 1.8em;
			position: relative;
			vertical-align: middle;
			width: 260px;
			z-index: 2;
			transition: all .3s;
			-moz-transition: all .3s; /* Firefox 4 */
			-webkit-transition: all .3s; /* Safari and Chrome */
			-o-transition: all .3s; /* Opera */

			}
			
			#tag {
			border-left: 1px solid $grey;
			color: $black;
			padding: .9em 0 .9em 2em;
			@include font-size(11);
			letter-spacing: .4em;
			transition: all .3s;
			-moz-transition: all .3s; /* Firefox 4 */
			-webkit-transition: all .3s; /* Safari and Chrome */
			-o-transition: all .3s; /* Opera */
			}
		}
		
		nav {
		float: right;
		font-family: $sans-bold;
		padding: 2em 1.8em 0 0;
		@include all-caps; 
			
			ul.primary {
				li {
				overflow: hidden;	
				display: inline-block;
				text-align: right;
				padding: 1em 2em 4em 2em;
					
					a {
					color: $black;
					position: relative;		
					}
				
					&:hover {
					}
			
					ul.secondary { 
					background: white;
					border-top: 1px solid $grey;
					display: none;
					height: 3em;
					margin: 1.5em 0 0 1.5%;
					padding: 0.7em 0 0 0;
					position: absolute;
					left: 0;
					width: 95%;
					
						&:before {
						content: "";
						position: absolute;
						top: -.55em;
						right: 12em;
						-webkit-transform: rotate(-45deg); /* Safari */
						-moz-transform: rotate(-45deg); /* Firefox */
						-ms-transform: rotate(-45deg); /* IE */
						-o-transform: rotate(-45deg); /* Opera */
						filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
						width:10px;
						height:10px;
						background-color: white;
						border-top: 1px solid $grey;
						border-right: 1px solid $grey;
						border-bottom: 1px solid $white;
						border-left: 1px solid $white;
						transform: rotate(45deg);
						z-index: 2;
						}

						&:before, &:after {
						content: "";
						position: absolute;
						background: $white;  /* Match the background */
						top: 0;
						bottom: 0;
						width: 9999px;   /* some huge width */
						} 
						&:before {
						  right: 100%; 
						}
						&:after {
						  left: 100%;
						}
							
						li { /* secondary item */
						text-align: right;
						margin-right: -2.5em;
					
							a {
							color: $grey;
							background: url('/images/icon-inactive.png') 0 0 no-repeat;
							font-family: $sans-light;
							@include font-size(10.3);
							letter-spacing: .1em;
							overflow: visible;
     						margin-left: -.5em;
							padding: .2em .5em .2em 1.5em;
							transition: all .2s ease-in-out;
							-moz-transition: all .2s ease-in-out; /* Firefox 4 */
							-webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
							-o-transition: all .2s ease-in-out; /* Opera */ 

								&:hover {
								color: $coral;
								}
						
							}

							a.active {
							background: none;
							background: url('/images/icon-active.png') 0 0 no-repeat;
							color: $coral !important;
							position: relative;
							}
					
							&:hover > section {
							display: block;
							}
						}
			
						ul.tertiary { /* tertiary */
						background: white;
						display: none;
						margin: 0;
						padding: 1em .1em .5em 0;
						position: absolute;
						left: 0;
						width: 100%;

							li {
							letter-spacing: .3em;
							margin: 0 -1em 0 0;
							padding: .1em .4em;
										
								a:link,
								a:visited {
								background: none;
								color: $black;
								@include font-size(9.9);
								}

								a:hover,
								a:active {
								color: $coral;
								}
							}
							
							&:before, &:after {
							content: "";
							position: absolute;
							background: $white;  /* Match the background */
							top: 0;
							bottom: 0;
							width: 9999px;   /* some huge width */
							} 
							&:before {
							  right: 100%; 
							}
							&:after {
							  left: 100%;
							}

						} /* tertiary */
					} /* secondary */			
				} /* primary li */				
			} /* primary */
		} /* nav */ 
} /* header */

header.expand {
	padding-top: 10em;
}

header.shrink {
	padding-top: 5em;

	#logo {
	padding-top: 1.5em;
	width: 200px;
	}

	#tag {
	@include font-size(10);
	}
}

#social {
	background-color: #3D3D3D; 
	margin: 0 2em 0 0;
	padding: .1em .4em .1em .4em; 
	position: fixed;
	top: .5em;
	right: 2.5em;
	z-index: 10;
	width: 2em; 
		a {
		background-color: #FFF; 
		border-radius: 20px; -moz-border-radius: 20px; 
		display: block; 
		height: 20px; 
		margin: 5px auto; 
		width: 20px;
		z-index: 0;
		transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out; /* Firefox 4 */
		-webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
		-o-transition: all .2s ease-in-out; /* Opera */
			&:hover {
			background-color: $blue;
			}
		}
		img {
		display: block; 
		height: auto; 
		text-align: center; 
		vertical-align: middle;
		width: 20px;
		}
}

/*-------------------------------------------------------------------------------------------------------
MAIN
-------------------------------------------------------------------------------------------------------*/

#main {
	margin: 28em 0 3em 0;

	#content-container {
		display: block;
		margin: 0 auto 0 auto;
		text-align: left;
		width: 92%;

			#content {
			display: inline-block;
			margin-right: 4%;
			width: 75%;
			
				.prev-button {
				background: url('/images/prev-next.png') 5px 0 no-repeat;
				display: inline-block; 
				margin: 0 0 -3px 10px;
				height: 22px;
				width: 25px;
				}

				.next-button {
				background: url('/images/prev-next.png') -15px 0 no-repeat;
				display: inline-block;
				margin: 0 0 -3px 0;
				height: 22px;
				width: 25px;
				}
			}
			
			#tags {
			display: inline-block;
			margin-top: 4em;
			text-align: right;
			vertical-align: top;
			width: 20%;
			
				h6 {

					&:after {
					content: "";
					background: url('/images/icon-role.png') 0 4px no-repeat;
					color: $coral;
					display: inline-block;
					margin-left: 6px;
					height: 13px;
					width: 10px;
					}
				}
			}
	}

	#work-container {
		margin: 0 auto 0 auto;
		text-align: center;
		overflow: scroll;
		position: relative;
		white-space: nowrap;
		z-index: 0;
			.item {
			display: inline-block;
			margin:10px;
			position: relative;
				img {
				height: 100%;
				width: auto;
				-moz-box-shadow: 1px 1px 1px 1px #eee;
  				-webkit-box-shadow: 1px 1px 1px 1px #eee;
 				 box-shadow: 1px 1px 1px 1px #eee;
				}

				.description {
				background-color: rgba(0,0,0,0);
				display: block;
				height: 100%;
				position: absolute; 
				top: 0;		
				visibility: hidden;		
				width: 100%;
				transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out; /* Firefox 4 */
				-webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
				-o-transition: all .2s ease-in-out; /* Opera */
					a {
					display: block;
					margin: 0 auto;
					position: relative;
					top: 38%;
							h3 {
							border-bottom: 1px solid $white;
							margin-bottom: 20px;
							padding: 15px;
							display: inline-block;
							}
					}
				}

				&:hover .description {
				background-color: rgba(20,20,20,0.8);
				display: block;
				visibility: visible;
				}

				.no-shadow {
				-moz-box-shadow: none;
  				-webkit-box-shadow: none;
 				 box-shadow: none;
				}
			}
	}
}

#load {  
    display: none;  
    position: absolute;  
    rightright: 10px;  
    top: 10px;  
    background: url(images/ajax-loader.gif);  
    width: 43px;  
    height: 11px;  
    text-indent: -9999em;  
} 


/*-------------------------------------------------------------------------------------------------------
FORM
-------------------------------------------------------------------------------------------------------*/
#main.contact {
		
	#content-container {

		#content {
		width: 70%;

			form {
			margin: 2em 0 0 0;
			padding-bottom: 5em;
			width: 80%;
			
				input {
				display: block;
				border: none;
				border-bottom: 1px dotted $grey;
				font-family: $title-light;
				height: auto;
				margin-bottom: 2em;
				width: 100%;
				@include font-size(22);
				}

				input:focus { 
				outline: none; 
				}

				textarea {
				border: 1px dotted $grey;
				font-family: $title-light;
				outline: none;
				margin-bottom: 2em;
				padding: .4em 0 0 .2em;;
				width: 100%;
				@include font-size(22);
				}

				.submit {
				background-color: $blue;
				border: none;
				border-radius: 100px;
				color: $white;
				margin: 0 auto;
				padding: 3em 0 2.8em 0;
				width: 7em;
				@include all-caps;
				@include font-size(14);
				
					&:hover {
					background-color: $coral;
					}
				}

			}
		}
	
		#tags {
		width: 25%;
		}
	}
}

#main.about {
	h2 {
	color: $coral;
	}

	.testimonial {
	
		p {
		padding: 0 0 .5em 0;
		}

		h6 {
		padding: 0 0 2em 0;
		}
	}
}



@media only screen 
and (min-width : 1020px) {

}

@media only screen 
and (min-width: 925px) {
    /* tablets and desktop */
}

@media only screen 
and (max-width: 924px) {
    
    header.expand {
    padding-top: 7em;
    }

    header {
	border-top: 5px solid $black;
	position: inherit;
	overflow-x: hidden;
	width: 100%;
    	

		h1 {
		float: none;
		padding: 0;
		text-align: center;

			#logo {
			margin-right: 0;
			}
		
			#tag {
			border-left: none;
			display: block;
			padding: .9em 0;
			}
		}

		nav {
		float: none;
		padding: 3em 0;
		text-align: center;

			ul.primary {

				li {

					ul.secondary {
					margin-left: 2.5%;
					text-align: center;
				
						li {

							.tertiary {
							display: none;
							text-align: center;
							}
						}
					}
				}
			}
		}
	}

	#social {
	top: auto;
	bottom: 0;
	right: auto;
	text-align: center;
	width: 100%;

		a {
		display: inline-block;
		margin: 5px 3px;

			img {
			}
		}
	}

	#main {
	margin-top: 3em;
	}

	#work-container {
	padding-bottom: 6em;
	}
}

@media only screen and (max-width: 767px){
    nav {

			ul.primary {

				li {

					ul.secondary {
					left: 2.5%;

						li {
						
							.tertiary {
							}
						}
					}
				}
			}
		}

		#main {
	margin-top: 2em;
	}
}
